# AppVeyor configuration

version: "{build}"

init:
  - ps: Get-ChildItem 'env:'

assembly_info:
  patch: false

cache:
  - packages -> **\packages.config

before_build:
  - gitversion /l console /output buildserver /updateAssemblyInfo FakeSystemWeb\Properties\AssemblyInfo.cs
  - 7a a "FakeSystemWeb_%GitVersion_NuGetVersion%_src.zip" ".\*" -x!.git -x!packages
  - ps: $env:Build_IsPreRelease=(-not [String]::IsNullOrEmpty($env:GitVersion_PreReleaseTag)).ToString().ToLower()
  - ps: Get-ChildItem 'env:'
  - nuget restore

build:
  publish_nuget: false
  verbosity: minimal

after_build:
  - 7z a "FakeSystemWeb_%GitVersion_NuGetVersion%.zip" ".\FakeSystemWeb\bin\%CONFIGURATION%\*"
  - nuget pack FakeSystemWeb\FakeSystemWeb.csproj -version "%GitVersion_NuGetVersion%" -prop "target=%CONFIGURATION%"

artifacts:
  - path: '*.nupkg'
  - path: '*.zip'

nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: true

deploy:
  - provider: NuGet
    api_key:
      secure: BIYmTD2m0YuxsKt7KwAOyQ==
    skip_symbols: true
    on:
      APPVEYOR_REPO_TAG: true

  - provider: GitHub
    auth_token:
      secure: BIYmTD2m0YuxsKt7KwAOyQ==
    tag: '$(APPVEYOR_REPO_TAG_NAME)'
    release: '$(GitVersion_NuGetVersion)'
    description: ''
    artifact: /.*\.zip/
    prerelease: '$(Build_IsPreRelease)'
    on:
      APPVEYOR_REPO_TAG: true

on_finish:
#  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))
