# AppVeyor configuration

version: "{build}"

os: Visual Studio 2015

assembly_info:
  patch: false

cache:
  - packages -> **\packages.config

before_build:
  - ps: gitversion /l console /output buildserver /updateAssemblyInfo FakeSystemWeb\Properties\AssemblyInfo.cs
  - 7z a "FakeSystemWeb_%GitVersion_NuGetVersion%_src.zip" ".\*" -x!.git -x!packages
  - ps: $env:Build_IsPreRelease=(-not [String]::IsNullOrEmpty($env:GitVersion_PreReleaseTag)).ToString().ToLower()
  - nuget restore

configuration: Release

build:
  publish_nuget: false
  verbosity: minimal

after_build:
  - 7z a "FakeSystemWeb_%GitVersion_NuGetVersion%.zip" ".\FakeSystemWeb\bin\%CONFIGURATION%\*"
  - nuget pack FakeSystemWeb\FakeSystemWeb.csproj -version "%GitVersion_NuGetVersion%" -prop "target=%CONFIGURATION%"

before_test:
  - nuget install opencover -OutputDirectory packages -ExcludeVersion -NonInteractive
#  - nuget install coveralls.io -SolutionDirectory . -ExcludeVersion -NonInteractive

test_script:
  - packages\OpenCover\tools\OpenCover.Console.exe -register:user -output:coverage.xml "-target:C:\Tools\NUnit3\bin\nunit3-console.exe" "-targetargs:FakeSystemWeb.Tests\bin\%CONFIGURATION%\FakeSystemWeb.Tests.dll --result:myresults.xml;format=AppVeyor" -skipautoprops -hideskipped:All -filter:"+[*]* -[*Tests]*"

after_test:
  - appveyor PushArtifact coverage.xml

artifacts:
  - path: '*.nupkg'
  - path: '*.zip'

nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: true

deploy:
  - provider: NuGet
    api_key:
      secure: BIYmTD2m0YuxsKt7KwAOyQ==
    skip_symbols: true
    on:
      APPVEYOR_REPO_TAG: true

  - provider: GitHub
    auth_token:
      secure: BIYmTD2m0YuxsKt7KwAOyQ==
    tag: '$(APPVEYOR_REPO_TAG_NAME)'
    release: '$(GitVersion_NuGetVersion)'
    description: ''
    artifact: /.*\.zip/
    prerelease: '$(Build_IsPreRelease)'
    on:
      APPVEYOR_REPO_TAG: true
