# AppVeyor configuration

version: 1.0.0.{build}

install:
  - ps: .\appveyor.init.ps1

assembly_info:
  patch: true
  file: FakeSystemWeb\Properties\AssemblyInfo.cs
  assembly_version: $(ASSEMBLY_VERSION)
  assembly_file_version: $(ASSEMBLY_FILE_VERSION)
  assembly_informational_version: $(ASSEMBLY_INFORMATIONAL_VERSION)

cache:
  - packages -> **\packages.config

before_build:
  - cmd: nuget restore

build:
  publish_nuget: true
  verbosity: minimal

artifacts:
  - path: FakeSystemWeb\bin\$(CONFIGURATION)
    name: FakeSystemWeb-$(ASSEMBLY_INFORMATIONAL_VERSION)

nuget:
  account_feed: true
  project_feed: true
  disable_publish_on_pr: true

deploy:
  - provider: NuGet
    api_key:
      secure: BIYmTD2m0YuxsKt7KwAOyQ==
    skip_symbols: true
    on:
      APPVEYOR_REPO_TAG: True
